/* Applying a subtle background to the body */
body {
    background-color: #87CEEB; /* White */
    background-size: cover; /* Ensures the background covers the entire body */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    text-align: left;
}

/* Base styles */
* {
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont; /* Professional and modern font */
    color: #3A4856; /* Soft black for text */
}

h1 {
    text-align: center; /* Centers the text horizontally */
    color: #3A4856; /* Deep blue for a professional look */
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

p, li {
    font-size: 16px; /* Suitable font size for readability */
    line-height: 1.6; /* Improved line spacing for readability */
    text-shadow: none; /* Remove text shadow for clarity */
}

a {
    text-decoration: none; /* Removes underline */
    color: #005a9c; /* Matching deep blue color */
    transition: color 0.3s ease; /* Smooth color transition */
}


/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A4856; /* Dark grey for professional appearance */
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white; /* White text for contrast */
    text-align: center;
    padding: 14px 16px; /* Adequate padding for clickable area */
    text-decoration: none; /* Removes underline */
}

    nav a:hover {
        background-color: #005a9c; /* Deep blue on hover */
    }

.character-container {
    position: absolute; /* Allows for more precise positioning within the body */
    display: inline-block; /* Keeps the display as inline-block */
    transform: scale(0.2) translateX(-170%); /* Keeps the scaling to 30% */
    top: 0; /* Position it at the very top of the body */
    left: 0; /* Position it at the very left of the body */
}
}

img {
    display: block; /* Remove any default spacing/margins */
    width: 100%; /* Adjust size as needed */
    height: auto;
}

.eye {
    width: 115px;
    height: 115px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px #000a;
}


.pupil {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    /* Removed the 'position', 'top', 'left', and 'transform' properties */
}


#left-eye {
    top: 23%; /* Adjust based on your image */
    left: 22%; /* Adjust based on your image */
}

#right-eye {
    top: 27%; /* Adjust based on your image */
    left: 41.1%; /* Adjust based on your image */
}

