/* Applying a subtle background to the body */
body {
    background-color: #f5f5dc; /* Soft beige color */
    background-image: url('https://example.com/subtle-paper-texture.jpg'); /* High-quality, subtle paper texture */
    background-size: cover; /* Ensures the background covers the entire body */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
}

/* Base styles */
* {
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont; /* Professional and modern font */
    color: #333; /* Soft black for text */
}

h1 {
    text-align: center; /* Centers the text horizontally */
    color: #005a9c; /* Deep blue for a professional look */
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

p, li {
    font-size: 16px; /* Suitable font size for readability */
    line-height: 1.6; /* Improved line spacing for readability */
    text-shadow: none; /* Remove text shadow for clarity */
}

a {
    text-decoration: none; /* Removes underline */
    color: #005a9c; /* Matching deep blue color */
    transition: color 0.3s ease; /* Smooth color transition */
}

    a:hover {
        color: #f26d21; /* Soft orange for hover effect */
    }


/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dark grey for professional appearance */
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white; /* White text for contrast */
    text-align: center;
    padding: 14px 16px; /* Adequate padding for clickable area */
    text-decoration: none; /* Removes underline */
}

    nav a:hover {
        background-color: #005a9c; /* Deep blue on hover */
    }

.character-container {
    position: relative;
    display: inline-block; /* Adjust as necessary */
}

img {
    display: block; /* Remove any default spacing/margins */
    width: 100%; /* Adjust size as needed */
    height: auto;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 0 5px #000a;
}

.pupil {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left-eye {
    top: 40%; /* Adjust based on your image */
    left: 30%; /* Adjust based on your image */
}

#right-eye {
    top: 40%; /* Adjust based on your image */
    left: 60%; /* Adjust based on your image */
}







